.header {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.jpg");
    background-image: no-repeat;
    background-size: cover;
    margin: 0px;



}

nav {
    width: 100%;
    height: 15%;
    background-color: rgb(95, 197, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.logo {
    width: 25%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-left: 15px;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive, sans-serif;
    color: black;
}

nav .menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;

}

nav .menu a {

    text-decoration: none;
    background-image: rgba(0, 0, 0, 0.475);
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 1200;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.menu a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#name {
    color: rgb(0, 0, 0);
}

body {
    margin: 0%;
}

h1 {
    color: rgb(3, 3, 3);
}

P {
    color: wheat;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
    margin-left: 250px;
    margin-top: 80px;

}

.st-p {
    margin-left: 150px;
    margin-top: 150px;
    width: 35%;
    font-size: 20px;
    text-transform: lowercase;
    text-transform: inherit;
}

.flexible-container h1 {
    font-weight: 900;
    color: rgb(238, 231, 231);
    font-size: 50px;

}

.btn {
    text-decoration: none;
    background-color: rgb(95, 197, 222);
    padding: 5px 5px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.btn:hover {
    background-color: rgb(239, 245, 246);
    color: rgb(0, 0, 0);
}

.st-p p {
    padding-bottom: 0px;
}